/* General Page Styles */
.header {
    padding: 20px;
    text-align: center;
    background: black;
    color: white;
    font-size: 20px;
    font-family: Helvetica;
}

body {
    height: 100%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgb(42, 42, 42);
}

/* Flexbox layout to align table and container side by side */
.main-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
}

/* Table Styling */
.table-container {
    width: 50%;
    max-height: 700px;
    overflow-y: auto;
    background-color: rgb(64, 64, 64);
}

table {
    width: 100%;
    font-family: Helvetica;
    color: white;
    font-size: 20px;
    border-collapse: collapse;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ddd;
    position: relative;
}

table th {
    background-color: green;
    color: white;
}

table tr:hover {
    background-color: rgb(75, 75, 75);
}


.container {
    width: 40%;
    background-color: black;
    padding: 10px;
}

.container img {
    max-width: 100%;
    height: auto;
}

/* Dropdown styling */
.dropdown, .dropdown-p {
    position: relative;
    display: inline-block;
}

.dropdown button, .dropdown-p button {
    background-color: hsl(0, 0%, 80%);
    color: black;
    padding: 10px 60px;
    border: none;
    cursor: pointer;
    font-family: Helvetica;
}

.dropdown .content, .dropdown-p .players {
    display: none;
    position: absolute;
    background-color: hsl(0, 0%, 95%);
    min-width: 100px;
    z-index: 1;
}

.dropdown:hover .content, .dropdown-p:hover .players {
    display: block;
}

/* Responsive Styles */
@media (max-width: 800px) {
    .main-content {
        flex-direction: column;
    }

    .table-container, .container {
        width: 100%;
    }
}
